@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: Inter;
    background-color: #1a1a1a;
    color: white;
    margin-top: -15px;
    padding: 20px;
}

.title {
    display: flex;
    align-items: center;
}

.description {
    margin-top: 20px;
    font-size: 19px;
}

.screenshots {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}